<%- include('partials/header') -%>
    <div>
        <% if(replikas.length == 0) { %>
            <p class="mb-2">No replikas registered</p>
        <% } else { %>
            <h1 class="text-2xl mb-4">Registered replikas</h1>
            
            <table class="table-auto w-8/12 m-auto">
                <% if (replikas.length == 0) { %>
                    <p>No Replikas registered.</p>
                <% } else { %>
                    <tr class="border">
                        <th class="w-4/12">Picture</th>
                        <th class="w-3/12">Name</th>
                        <th>Active</th>
                        <th>Actions</th>
                    </tr>
                    <% for (let i = 0; i < replikas.length; i++) { %>
                        <tr class="border">
                            <td class="px-4 py-1"> 
                                <img src=<%= replikas[i].avatar %> class="rounded-sm max-h-36 m-auto"> 
                            </td>
                            <td class="text-center"> <%= replikas[i].name %> </td>
                            <td class="text-center"> <%= replikas[i].type %></td>
                            <td class="px-4 text-center">
                                <form action="settings/<%= replikas[i].user_id %>" method="get">
                                    <button type="submit" class="rounded-full w-32 my-2 bg-blue-100"><b>Settings</b></button>
                                </form>

                                <form action="tokens/<%= replikas[i].user_id %>" method="get">
                                    <button type="submit" class="rounded-full w-32 my-2 bg-blue-100"><b>Tokens</b></button>
                                </form>
                                
                                <% if (replikas[i].type != "Inactive") { %>
                                    <form action="replikas/deactivate" method="post">
                                        <input type="hidden" name="user_id" value=<%= replikas[i].user_id %>>
                                        <button type="submit" class="rounded-full w-32 my-2 bg-orange-100"><b>Deactivate</b></button>
                                    </form>
                                <% } %>
                                
                                <form action="replikas/delete" method="post">
                                    <input type="hidden" name="user_id" value=<%= replikas[i].user_id %>>
                                    <button type="submit" class="rounded-full w-32 my-2 bg-red-100"><b>Delete</b></button>
                                </form>
                            </td>
                        </tr>
                    <% } %>
                <% } %>
            </table>
        <% } %>
    </div>

    <div class="my-4">
        <h1 class="text-2xl mb-4">Add a new replika</h1>

        <form id="addrep" action="replikas/add" method="post">
            <div class="space-y-2">
                <div>
                    <label for="rep_email">Email</label>
                    <input class="bg-slate-200 mx-4 w-60" type="email" name="rep_email" required></input>
                </div>
                <div>
                    <label for="rep_pwd">Password</label>
                    <input class="bg-slate-200 mx-4 w-60" type="password" name="rep_pwd" required></input>
                </div>
                <button type="submit" class="rounded-full w-32 my-2 bg-blue-100"><b>Submit</b></button>
            </div>
        </form>
    </div>

<%- include('partials/footer') -%>